@page "/users/crear"
@using Santtoary.Shared.DTOs
@using Santtoary.Shared.Entidades
@inject HttpClient Http
@inject NavigationManager Nav
@inject IJSRuntime JS

<h3>Registrar Nuevo Usuario</h3>

<div class="card p-4 shadow-sm">
    <EditForm Model="userDTO" OnValidSubmit="Guardar">
        <DataAnnotationsValidator />

        <div class="mb-3">
            <label>Nombre de Usuario</label>
            <InputText class="form-control" @bind-Value="userDTO.UserName" placeholder="Ej: KevinAdmin" />
            <ValidationMessage For="@(() => userDTO.UserName)" />
        </div>

        <div class="mb-3">
            <label>Correo Electrónico</label>
            <InputText class="form-control" @bind-Value="userDTO.Email" placeholder="admin@santtoary.com" />
            <ValidationMessage For="@(() => userDTO.Email)" />
        </div>

        <div class="mb-3">
            <label>Rol</label>
            <InputText class="form-control" @bind-Value="userDTO.Rol" />
        </div>

        <div class="mb-3">
            <label>Contraseña</label>
            <InputText type="password" class="form-control" @bind-Value="userDTO.Password" placeholder="********" />
            <ValidationMessage For="@(() => userDTO.Password)" />
        </div>

        <div class="mb-3">
            <label>Confirmar Contraseña</label>
            <InputText type="password" class="form-control" @bind-Value="userDTO.PasswordConfirm" placeholder="********" />
            <ValidationMessage For="@(() => userDTO.PasswordConfirm)" />
        </div>

        <div class="mb-3">
            <Santtoary_.WEB.Shared.InputImg Label="Foto de Perfil" ImageSelected="ImageSelected" ImageURL="@imageUrl" />
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="/users" class="btn btn-secondary ms-2">Cancelar</a>
    </EditForm>
</div>

@code {
    private UserDTO userDTO = new() { Rol = "Admin" };
    private string imageUrl = "";

    private void ImageSelected(string imagenBase64)
    {
        userDTO.Photo = imagenBase64;
        imageUrl = imagenBase64;
    }

    async Task Guardar()
    {
        var response = await Http.PostAsJsonAsync("api/users", userDTO);

        if (response.IsSuccessStatusCode)
        {
            Nav.NavigateTo("/users");
        }
        else
        {
            var error = await response.Content.ReadAsStringAsync();
            await JS.InvokeVoidAsync("alert", "Error al guardar: " + error);
        }
    }
}
